

:root {
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;
    --color-hover: #272727;

    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
    background-color: #E9ECF8
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #052051;

    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #AAB2D5; 
  }

  .row {
    display: flex;
    gap: 10px; 
  }
  .col {
    padding: 10px;

  }
  .Buton1 {
    background-color: #052051;

  }
  .Buton2{
    background-color: #bec6e6;
  }
  .col2 {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10%;
  }
  

  .col:first-child {
    flex: 2;
  }
  

  .col:nth-child(2) {
    flex: 1;
  }
  .textarea {
    max-width: 100%;
    width: 95%; /* adjust to your desired width */
    resize: vertical; /* enable vertical resizing */
  }

  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }
    .oculta {
        display: none;
    }
  }
 